h1{
  padding-bottom: 25px;
}

form{
  padding: 20px 20px;
}

.login_container{
    background-color: gainsboro;
}

.login_container, .flip-card, .flip-card-inner{
    align-items: center;
    text-align: center;
    align-content: center;
}

.flip-card {
  background: linear-gradient(to right, black 50%, white 50%);
  text-align: center;
  width: 90%;
  height: 100%;
}

.flip-card-inner {
  border: 3px solid black;
  border-radius: 40px;
  background-color: white;
  transition: transform 0.6s;
  transform-style: preserve-3d;

  width: 580px;
  height: 750px;
  text-align: center;
  padding: 10px;
  position: relative;
}

.flip-card-front, .flip-card-back{
  width: 550px;
  height: 720px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(1px);
}

.flip-card-back {
  transform: translateZ(-1px) rotateY(180deg);
}

.btn_container{
  width: calc(180%);
  left: -40%;
  top: -100px;
  
  position: relative;
}

.flip_btn{
  width:  100px;
  height: 50px;
  border-radius: 25px;
}

.flip_btn:hover, .flip-card:focus{
  background-color: gray;
}

.input-group-text, .input-group input{
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.input-group input{
  padding: 10px 20px;
}

.format_text{
  top: -50px;
  position: relative;
}